@(responsive: tools.LiveStatsGraph, desktop: tools.LiveStatsGraph, comparison: tools.PagesPerSessionGraph, env: String)

<!DOCTYPE html>
<html>
  <head>
        <meta http-equiv="refresh" content="60">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>theguardian.com livestats</title>
        <script src="https://www.google.com/jsapi"></script>
      <style>
          h1, h2 {
              text-align: center;
          }
      </style>
  </head>
  <body>

      <h1>Onwards Journeys</h1>
      <h2>Success = <span style="color: #ff0000">red line</span> rises above <span style="color: #00FF00">green line</span></h2>

      <div id="@comparison.id" class="charts"></div>

      <script type="text/javascript">
        google.load("visualization", "1", {packages:["corechart"]});
        google.setOnLoadCallback(drawCharts);

          function drawCharts() {

              new google.visualization.LineChart(document.getElementById('@comparison.id'))
              .draw(google.visualization.arrayToDataTable(@Html(comparison.asDataset)), {
              title: '@comparison.name',
              backgroundColor: '#fff',
              height: 175,
              legend: 'bottom',
              fontName: 'Georgia',
              titleTextStyle: {color: '#000'},
              colors: ['#ff0000', '#e0e0e0', '#00FF00', '#f3b49f', '#FF9999'],
              hAxis: { textStyle: {color: '#ccc'}, gridlines: { count: 0 }, showTextEvery: 15, baselineColor: '#fff' },
              vAxis: { textStyle: {color: '#ccc'}, gridlines: { count: 3, color: '#ccc' } }
              });

          }
      </script>

  </body>
</html>
